.admin-container {
    width: 100%;
    min-width: 700px;

    .title {
        margin-left: 100px;
    }

    .admin-info {
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid gray;
        padding-bottom: 5px;
    }

    .fund-manage {
        width: 700px;
        padding: 0 10px;
        margin-left: 50px;
        border-bottom: 1px solid rgb(240, 169, 169);
        display: flex;
        justify-content: space-between;
    }

    .tip {
        color: @gray;
        font-weight: bold;
    }
}