@import '~@/styles/mixin.less';

.home-container {
    // .test{
    //     border: 1px solid salmon;
    //     width: 20%;
    //     height: 50px;
    //     .to-flex();
    //     button{
    //       height: 50%;
    //     }

    // }
    .rate-show {
        width: 50%;
        border: 1px solid seagreen;

        table {
            width: 100%;
            box-sizing: border-box;

            border: 1px solid saddlebrown;
            text-align: center;
        }
    }
}